body {
    font-family: Arial, sans-serif;
    background-color: #b8b4b4; /* Change this line to off-white */
}
header, footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}
.container {
    padding: 50px 0;
}
.activity-section {
    margin-bottom: 50px;
}
.activity-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}
.activity-item img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}
.activity-item h3 {
    margin: 0 0 10px;
}
.activity-item p {
    margin: 0;
}
.activity-item::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, transparent, lightgray);
    z-index: 0;
}
.activity-item > div {
    position: relative;
    z-index: 1;
}
.activity-item:hover {
    background-color: #333; /* Matching navbar color */
    color: #fff;
    transform: translateX(-10px);
}
.activity-item:hover h3,
.activity-item:hover p {
    color: #fff;
}
.dropdown-menu{
    background-color: #2f2f2f;
}
.dropdown-item{
    color:white;
}
.dropdown-item:hover{
    background-color:#605e5e ;
    color:black;
}