body {
    font-family: Arial, sans-serif;
    background-color: #b8b4b4;
}
header, footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}
.container {
    padding: 50px 0;
}
.dropdown-menu{
    background-color: #2f2f2f;
}
.dropdown-item{
    color:white;
}
.dropdown-item:hover{
    background-color:#605e5e ;
    color:black;
}
.booking-form-w3layouts {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
}
.sub-heading-agileits {
    margin-bottom: 20px;
}
.main-flex-w3ls-sectns {
    display: flex;
    justify-content: space-between;
}
.field-agileinfo-spc {
    margin-bottom: 15px;
}
.form-w3-agile-text1,
.form-w3-agile-text2,
.form-w3-agile-text11,
.form-w3-agile-text22,
.form-w3-agile-text33 {
    flex: 1;
    margin-right: 10px;
}
.form-w3-agile-text2,
.form-w3-agile-text22,
.form-w3-agile-text33 {
    margin-left: 10px;
}
.field-agileinfo-spc textarea {
    width: 100%;
    height: 100px;
}
.radio-section h6 {
    margin-top: 20px;
}
.radio-buttons-w3-agileits {
    list-style: none;
    padding: 0;
}
.radio-buttons-w3-agileits li {
    display: inline-block;
    margin-right: 10px;
}
.clear {
    clear: both;
}